article.grandejs > div{
	padding:15px;
	
	font-size:150% !important;
	line-height:1.5 !important;
}

article.grandejs > div *{
	line-height:inherit !important;
}

article.grandejs[contenteditable=true]{
	border:1px dotted #CCC;
}

article.grandejs > div > h2{
	margin-top:0px;
}